h1, h2, h3, label { 
  font-family: 'Oswald', sans-serif; 
  line-height: 1.25em;  
}

label {
  font-size: 1.20em;
  text-transform: uppercase;
  letter-spacing:0.1em;
  padding: 0 6px 6px 6px;
}

p, select { 
  font-family:'Merriweather', serif; 
  line-height: 1.5em;
}

.map, .plot { 
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}
